/* Fonts  */
@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/Gotham-Bold.eot');
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Bold.woff2') format('woff2'),
      url('fonts/Gotham-Bold.woff') format('woff'),
      url('fonts/Gotham-Bold.ttf') format('truetype'),
      url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded Light';
  src: url('fonts/GothamRounded-Light.eot');
  src: url('fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/GothamRounded-Light.woff2') format('woff2'),
      url('fonts/GothamRounded-Light.woff') format('woff'),
      url('fonts/GothamRounded-Light.ttf') format('truetype'),
      url('fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('fonts/HelveticaNeueLT-45Lt.eot');
  src: url('fonts/HelveticaNeueLT-45Lt.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-45Lt.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-45Lt.woff') format('woff'),
      url('fonts/HelveticaNeueLT-45Lt.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-45Lt.svg#HelveticaNeueLT-45Lt') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('fonts/HelveticaNeueLT-65Md.eot');
  src: url('fonts/HelveticaNeueLT-65Md.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-65Md.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-65Md.woff') format('woff'),
      url('fonts/HelveticaNeueLT-65Md.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-65Md.svg#HelveticaNeueLT-65Md') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('fonts/HelveticaNeueLT-75Bd.eot');
  src: url('fonts/HelveticaNeueLT-75Bd.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-75Bd.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-75Bd.woff') format('woff'),
      url('fonts/HelveticaNeueLT-75Bd.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-75Bd.svg#HelveticaNeueLT-75Bd') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  font-family: 'HelveticaNeue Medium', Arial, Helvetica, sans-serif;
  margin: 0;
}


:root {
  --redColor: #d35266;
  --greyColor: #888;
  --darkColor: #383838;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
h2,
h3,
h4 {
  color: var(--darkColor);
  margin-top: 10px
}

.cursor-text:hover {
  cursor: text;
}


/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.bg-red {
  background-color: var(--redColor);
}
.bg-black {
  background-color: var(--darkColor);
}
.bg-grey {
  background-color: var(--greyColor);
}

.text-red {
  color: var(--redColor);
}

/* Header  */

header {
  font-family: 'Gotham bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(rgba(211, 82, 102, 0.8),rgba(211, 82, 102, 0.9)), url("img/Fruit-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar  */

.navbar {  
  background: var(--darkColor);
  margin-bottom: 20px;
}

.navbar-toogler {
  background-color: white;
}

.navbar .logo {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 10px;
}

/* Heading  */

.heading,
.search-bar {
  color: white;
  text-align: center;
  letter-spacing: -1px;
}

.heading .logo,
.index .logo {
  height: 1.6rem;
  width: 1.6rem;
}

/* Main  */

main p,
.search-bar {
  font-family: 'Gotham Rounded Light', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Index  */

.about-factory a {
  height: 2rem;
  display: block;
  border-radius: 10px;
  padding: 3px;

}

.index h4 {
  display: block;
  width: 200px;
  border-bottom: var(--redColor) 1px solid;
}

.index a {
  color: var(--darkColor);
}

/* Hover style  */

.index a:hover {
  color: var(--redColor)
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  main  {
    width: 70%;
    margin: 0 auto;
  }

 

  .top .card {
    width: 100%;
  }

  .card {
    display: flex;
  }

  .article-text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .price {
    margin-left: auto
  }
  
}