/* Fonts  */
@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/Gotham-Bold.eot');
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Bold.woff2') format('woff2'),
      url('fonts/Gotham-Bold.woff') format('woff'),
      url('fonts/Gotham-Bold.ttf') format('truetype'),
      url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded Light';
  src: url('fonts/GothamRounded-Light.eot');
  src: url('fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/GothamRounded-Light.woff2') format('woff2'),
      url('fonts/GothamRounded-Light.woff') format('woff'),
      url('fonts/GothamRounded-Light.ttf') format('truetype'),
      url('fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('fonts/HelveticaNeueLT-45Lt.eot');
  src: url('fonts/HelveticaNeueLT-45Lt.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-45Lt.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-45Lt.woff') format('woff'),
      url('fonts/HelveticaNeueLT-45Lt.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-45Lt.svg#HelveticaNeueLT-45Lt') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('fonts/HelveticaNeueLT-65Md.eot');
  src: url('fonts/HelveticaNeueLT-65Md.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-65Md.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-65Md.woff') format('woff'),
      url('fonts/HelveticaNeueLT-65Md.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-65Md.svg#HelveticaNeueLT-65Md') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('fonts/HelveticaNeueLT-75Bd.eot');
  src: url('fonts/HelveticaNeueLT-75Bd.eot?#iefix') format('embedded-opentype'),
      url('fonts/HelveticaNeueLT-75Bd.woff2') format('woff2'),
      url('fonts/HelveticaNeueLT-75Bd.woff') format('woff'),
      url('fonts/HelveticaNeueLT-75Bd.ttf') format('truetype'),
      url('fonts/HelveticaNeueLT-75Bd.svg#HelveticaNeueLT-75Bd') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}


:root {
  --redColor: #d35266;
  --greyColor: #888;
  --darkColor: #383838;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
